@import url("reset.css");
@import url("colors.css");
@import url("grid.css");
@import url("flex-order.css");
@import url("nav.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Roboto:wght@100&display=swap');

article {min-height:300px}

.jumbotron{
    background-image: url(https://cdn2.civitatis.com/finlandia/levi/tour-aurora-boreal.jpg);
    background-position: 0% 75%;
    background-size: cover;
}
.b2{
    background-image: url(https://lh3.googleusercontent.com/mwVlwtQ2QL8jUAjyQtHpQrgGef1Q3mOHXpijOZH5j2VAaOd1qRxjKQBbpllzr-vT8BG8r_MbLgy5tvoJrc3oIQ6sat_y6qusH9eS_8UiePPtTM0s0V2QOir87V61EHzj6wO-woACzh985BCuPY9Z_SkuZ63zGI-9QjfrsxUQqG4rtEJXFrqyFteNHTC--LGLrFVA9yBom-kNM1mmSaGYahKKtuwp3NNVApMi0fxbkHEAM7krJBrrBV9sJACe2XjkoVuvg5HLRub9gD3S-c3nsNE9umFqzHCZfVeTKf6R9IvF7GAPw2T1giIDAqKbz89JW7fpxFxPeY56Y2oGjWZsLK6eOLJx539SJNUeNDjsdST7hLReckgpGgRV5CnvSS9eBaqPvjkO0zy9jt325FTNJPSRYQ5UhpCp8lp9bPZuWketfvKzjvkvI9F62yOp948Z_xyVu4H52P_ySnNwPzJhUQoXcWkysJSnx_I6SLmDPS7befVHIA4msLkYXpAachCOGtGykBc7i0WCpBaRRhmhX38mwuiC5b_0xRLxhgcphRphXDu1aaXCtBmijkkH09vM1ynLEElIaN0V_Y0yPiAIZafmhnkaYKuijkxm_87o6exnjER1DqUUHywJI1KMEmEbWknmUMuodGEkfE0WdGu_-x6fJ8kdYRkU4EExgEKYlSc9wD1lPlwefLsiYleDllbI90WRuKNABIkF-eoNTI632BiO=w804-h541-no?authuser=0);
    background-position: 0% 75%;
    background-size: cover;
}
.b3{
    background-image: url(https://www.iesabroad.org/files/styles/hero_desktop/public/city/madrid.jpg?itok=1L-yDkfS&timestamp=1505415009);
    background-position: 0% 75%;
    background-size: cover;
}
.jumbotron h1 {
    color: rgb(250, 245, 255);
    padding-left: 5%;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size:8vh;
}
.jumbotron h3 {
    color: rgb(250, 245, 255);
    padding-left: 5%;
}

.jumbotron h1{
    margin-top: 200px;
}

.fashion {
    height: 250px;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

p , li, ul {
    font-family: 'Roboto', sans-serif;
}