.toggle-button {
    width: 40px;
    float: right;
    margin: 10px;
}

#toggleAssist,
ul.nav-links {
    display: none;
}

#toggleAssist:checked + ul.nav-links {
    display: block;
}

@media (min-width: 768px) {
    .toggle-button {
        display: none;
    }
    label[for=menuToggle] {
        display: none;
    }

    header nav ul {
        display: block;
        float: right;
    }

    header nav ul li {
        display: inline-block;
        border-bottom: 0px;
    }


}